.tab-control {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    padding: .75em 1em;
    position: relative;
}

.tab-control::after {
    background-color: blueviolet;
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity .3s ease-in-out;
    width: 100%;
}

.tab-control--selected {
    font-weight: 500;
}

.tab-control--selected::after {
    opacity: 1;
}