.tab-control {
  background-color: white;
  border-radius: .21em;
  border: .11em solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 .26em;
  padding: 0.75em 1em;
  position: relative;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
}

.tab-control:hover,
.tab-control:focus {
  border-color: var(--primary-color);
}

.tab-control--selected {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 500;
}
