.tab-list--horizontal {
  margin: 0 -.3125em 1.25em -.3125em;
  padding-bottom: 1.25em;
  position: relative;
}

.tab-list--horizontal::after {
  border-bottom: 1px solid var(--light-grey);
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: calc(100% - .625em);
}

.tab-list--vertical {
  flex: 0 0 7.5em;
  margin: -.3125em 0;
  padding-right: 1.25em;
}

.tab-list--vertical .tab-control {
  margin: 5px 0;
}
